<footer class="site-footer">
    <section class="benefits-section">
        <div class="container">
            <h2 class="benefits-title">Our Benefits</h2>
            <div class="benefits-grid">
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="/assets/icons/icon-plane.svg" alt="plane icon"></img>
                    </div>
                    <p>Velit nisl sodales eget donec quis. Volutpat orci.</p>
                </div>
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="/assets/icons/icon-truck.svg" alt="truck icon"></img>
                    </div>
                    <p>Dolor eu varius. Morbi fermentum velit nisl.</p>
                </div>
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="/assets/icons/icon-coins.svg" alt="coins icon"></img>
                    </div>
                    <p>Malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
                <div class="benefit-item">
                    <div class="benefit-icon">
                        <img src="/assets/icons/icon-hat.svg" alt="hat icon"></img>
                    </div>
                    <p>Nisl sodales eget donec quis. Volutpat orci.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="main-footer">
        <div class="container footer-grid">
            <div class="footer-col" id="col-about">
                <h3 class="footer-title"><a href="/pages/about.html">About Us</a></h3>
                <ul>
                    <li><a href="#">Organisation</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Clients</a></li>
                </ul>
            </div>
            <div class="footer-col" id="col-links">
                <h3 class="footer-title">Interesting Links</h3>
                <ul>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Socials</a></li>
                </ul>
            </div>
            <div class="footer-col" id="col-achieve">
                <h3 class="footer-title">Achievements</h3>
                <ul>
                    <li><a href="#">Winning Awards</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Our Amazing Clients</a></li>
                </ul>
            </div>
            <div class="footer-col" id="col-contact">
                <h3 class="footer-title"><a href="/pages/contact.html">Contact Us</a></h3>
                <p>Bendum dolor eu varius. Morbi fermentum velitsodales egetonec. Volutpat orci. Sed ipsum felis,
                    tristique egestas et, convallis ac vel.</p>
                <ul class="contact-grid">
                    <li class="contact-item"><img src="/assets/icons/icon-1.svg" alt="phone icon"/><span> Phone: (+63) 236 6322 </span></li>
                    <li class="contact-item"><img src="/assets/icons/icon-2.svg" alt="mail icon"/><span> public@news.com</span></li>
                    <li class="contact-item"><img src="/assets/icons/icon-3.svg" alt="clock icon"/><span> Mon - Fri: 10am - 6pm <br> Sat - Sun: 10am - 6pm</span></li>
                    <li class="contact-item"><img src="/assets/icons/icon-4.svg" alt="tip icon"/><span> 639 Jade Valley, Washington Dc</span></li>
                </ul>
            </div>
            <div class="footer-col" id="col-shipping">
                <h3 class="footer-title">Shipping Information</h3>
                <p>Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh rhoncus
                    varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, vel
                    finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>&copy; Copyright 2025</p>
        </div>
    </div>
</footer>