<article class="product-card">
    <div class="product-image-wrapper">
        <a href="#" class="product-link">
            <img src="" alt="" class="product-image">
        </a>
        <span class="product-sales-badge"></span>
    </div>
    <div class="product-info">
        <a href="#" class="product-link">
            <h3 class="product-name">Product name</h3>
        </a>
        <div class="product-meta">
            <div class="product-rating">

            </div>
            <span class="product-price"></span>
        </div>
        <button class="button primary add-to-cart-button" data-id="">Add to Cart</button>
    </div>
</article>